{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Description": "",
  "Resources": {
    "CFPP::Merge": [
      {
        "CFPP::JsonFile": "0005_resource_snippet.json"
      },
      {
        "SecondResource": {
          "Tag": "SecondTag"
        },
        "OverriddenResource": {
          "Tag": "OverriddenTag"
        }
      }
    ]
  }
}
